.contacts-wrapper {
  background: url('../img/contacts/bg.jpg') center / cover no-repeat;
}

.mainscreen-contacts {
  @include adaptiveValue("padding-top", 135, 152);
  @include adaptiveValue("padding-bottom", 63, 10);

  // .mainscreen-contacts__container

  &__container {
    min-height: calc(100vh - 340px);
    display: flex;
    align-items: center;
    row-gap: rem(64);
    column-gap: rem(20);

    @media (max-width:$mobile){
      flex-direction: column; 
    }
  }

  // .mainscreen-contacts__content

  &__content {
    @media (min-width:$mobile){
      margin-bottom: rem(120);  
      flex: 1 1 auto;
    }
  }

  // .mainscreen-contacts__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }

  // .mainscreen-contacts__sociable

  &__sociable {
  }

  // .mainscreen-contacts__image-ibg

  &__image-ibg {
    flex: 0 0;
    @include adaptiveValue("flex-basis", 647, 300);
    @include adaptiveValue("padding-bottom", 672, 292);

    @media (min-width:$mobile){
      transform: translateX(40px); 
    }
    @media (max-width:$mobile){
      @include adaptiveValue("width", 647, 300);
    }
  }
}

.sociable-contacts {
  display: flex;
  flex-direction: column;
  row-gap: rem(30);

  // .sociable-contacts__item

  &__item {
  }

  // .sociable-contacts__link

  &__link {
    display: flex;
    column-gap: rem(27);
  }

  // .sociable-contacts__icon

  &__icon {
    flex: 0 0 rem(32);
    font-size: rem(32); 
  }

  // .sociable-contacts__descr

  &__descr {
    @include adaptiveValue("font-size", 24, 20);
    line-height: 1.2;
    text-transform: capitalize;
    transition: color .3s ease 0s;

    @media (any-hover: hover){
      &:hover{
        color: rgba(256, 256, 256, 0.5);
      }
    }
  }
}

