.mainscreen-home {
  background: url('../img/bg/main.png') center / cover no-repeat;
  position: relative;
  
  &::after{
    content:'';
    position: absolute;
    bottom: -160px;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 410px;
    background: url('../img/bg/border-main.png') left bottom / cover no-repeat;

    @media (min-width:em(1960)){
      bottom: -188px; 
      height: 500px;
      width: 101%;
    }
    
    @media (min-width:em(2250)){
      display: none;
    }
    @media (max-width:$tablet){
      background: url('../img/bg/border-main-mobi.png') left bottom / cover no-repeat;
      height: 40px;
      bottom: -30px;
    }
    @media (max-width:$mobileSmall){
      background: url('../img/bg/border-main-mobi-sm.png') left bottom / cover no-repeat;
      bottom: -40px;
      height: 60px;
    }
  }

  // .mainscreen-home__container

  &__container {
  }

  // .mainscreen-home__content

  &__content {
    padding-top: 22vh;
    padding-bottom: rem(50);
    position: relative;
		z-index: 4;

    @media (max-width:$tablet){
      padding-top: 15vh;
    }
    @media (max-width:$mobile){
      padding-top: rem(78);        
    }
    @media (max-width:$mobileSmall){
      text-align: center; 
    }
  }

  // .mainscreen-home__title

  &__title {
  }

  // .mainscreen-home__subtitle

  &__subtitle {
    @include adaptiveValue("font-size", 40, 20);
    line-height: 162%;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #00F0E0 98.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .mainscreen-home__text

  &__text {
    max-width: rem(385);
    @include adaptiveValue("font-size", 22, 16);
    line-height: 136%;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    color: #C7E1E1;
    display: flex;
    align-items: center;
    gap: rem(18);

    span {
      width: 3px;
      height: 57px;
      background-color: $mainColor; 
      border-radius: 2px;

      @media (max-width:$mobileSmall){
        height: 3px;
        width: 57px;
      }
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 64, 35);
    }

    @media (max-width:$mobileSmall){
      flex-direction: column; 
    }
  }

  // .mainscreen-home__btns

  &__btns {
    @media (max-width:$mobileSmall){
      flex-direction: column;
      align-items: center;
      justify-content: center; 
    }
  }

  // .mainscreen-home__btn

  &__btn {
  }

  // .mainscreen-home__img

  &__img {
    position: absolute;
    right: -50px;
    bottom: 25px;
    @include adaptiveValue("width", 930, 420);
    @include adaptiveValue("height", 630, 262);

    @media (min-width:em(1650.98)){
      width: 1010px;
      height: 630px;
      right: 36px;
    }

    @media (max-width:$tablet){
      right: rem(-150);
    }

    img {
      max-width: 100%;
    }
  }

}

//=============================================================================================

.who {
  padding-top: rem(130);
  @include adaptiveValue("padding-bottom", 123, 90);
  background: url('../img/bg/who.png') center / cover no-repeat;

  // .who__container

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    @include adaptiveValue("gap", 62, 50);

    @media (max-width:$mobile){
      flex-direction: column; 
    }
  }

  // .who__card

  &__card {
    @media (min-width:$mobile){
      flex: 0 0 rem(370);
    }

    min-width: 0;
  }

  // .who__content

  &__content {
    flex: 1 1 auto;
  }
}
.card-who {
  filter: drop-shadow(0px 10px 20px rgba(82, 255, 245, 0.7));
  border-radius: 8px;
  backdrop-filter: blur(25px);
  max-width: calc(100vw - 60px);
  margin: 0 auto;

  // .card-who__slider

  &__slider {
    border-image-source: url('../img/borders/cart.svg');
    border-image-slice: 20 fill;
    min-width: 0;
    padding: 10px;
  }

  // .card-who__wrapper

  &__wrapper {
  }

  // .card-who__slide

  &__slide {
    background: linear-gradient(90.56deg, rgba(0, 192, 177, 0.12) -3.66%, rgba(0, 143, 163, 0.02) 49.48%, rgba(0, 163, 153, 0.1) 100.28%);
    border-radius: 8px;
    @include adaptiveValue("padding-top", 40, 14);
    @include adaptiveValue("padding-bottom", 86, 74);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 6%, 5% 0, 44% 0, 85% 0%, 100% 0, 100% 15%, 100% 63%, 100% 93%, 95% 100%, 15% 100%, 0 100%, 0% 85%);
  }

  // .card-who__wrap-img

  &__wrap-img {
    border-image-source: url('../img/borders/who.svg');
    border-image-slice: 1 fill;
    border-radius: 50%;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  // .card-who__image-ibg

  &__image-ibg{
    @include adaptiveValue("width", 179, 141);
    @include adaptiveValue("height", 179, 141);
    border-radius: 50%;
    @include adaptiveValue("margin", 11, 9); 
    background: #D9D9D9;
  }

  // .card-who__name

  &__name {
  }

  // .card-who__post

  &__post {
    //margin-bottom: rem(30);
    @include adaptiveValue("font-size", 24, 20);
    line-height: 271%;
    text-transform: lowercase;
    background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #03776F 98.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  // .card-who__buttons

  &__buttons {
    @include adaptiveValue("gap", 43, 34);
    position: absolute;
    bottom: rem(42);
    left: 50%;
    transform: translateX(-50%);
  }
}

.content-who {

  // .content-who__title

  &__title {
    margin-bottom: rem(48);
    @media (max-width:$mobile){
      text-align: end;        
    }
  }

  // .content-who__text

  &__text {
    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 35);
      }
    }

    span {
      background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #03776F 98.95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

//===============================================================================================

.why {
  @include adaptiveValue("padding-top", 74, 22);
  @include adaptiveValue("padding-bottom", 200, 61);
  background: url("../img/why/blue-bg.png") center / cover no-repeat;
  // .why__container

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  // .why__title

  &__title {
    align-self: center;
    text-align: center;
    padding: rem(30) rem(90);
    @include adaptiveValue("margin-bottom", 110, 50);

    @media (max-width:$mobileSmall){
      padding: rem(30) rem(30);
    }
  }

  // .why__body

  &__body {
  }

  // .why__content

  &__content {
    max-width: rem(710);
    position: relative;
    z-index: 4;
  }

  // .why__content-title

  &__content-title {
    background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #03776F 98.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 115%;
    @include adaptiveValue("font-size", 26, 18);
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 40, 30);
  }

  // .why__text

  &__text {
    p {
      &:not(:last-child) {
        margin-bottom: rem(35);
      }
      @media (max-width:$mobile){
        &:first-child  {
          @include adaptiveValue("padding-bottom", 570, 270);
        } 
      }
    }
  }

  // .why__img

  &__img {
    position: absolute;
    z-index: -1;
    bottom: -30%;
    right: -200px;
    @include adaptiveValue("width", 836, 338);
    @include adaptiveValue("height", 754, 338);

    @media (min-width:em(1459.98)){
      right: -10%;
    }

    @media (max-width:$mobile){
      right: auto;
      @include adaptiveValue("bottom", 0, 80); 
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      max-width: 100%;
    }
  }
}

//===============================================================================================

.why-dont {
  background: url('../img/why-dont/bg.png') center / cover no-repeat; 
  // .why-dont__container

  &__container {
    @include adaptiveValue("padding-top", 67, 30);
    @include adaptiveValue("padding-bottom", 63, 30);
    position: relative;
    z-index: 2;

    &::before,&::after{
      content: "";
      position: absolute;
      left: 0;
      height: 4px;
      width: 100%;
      background: linear-gradient(92.55deg, rgba(0, 0, 0, 0) 0%, rgba(0, 122, 100, 0.6) 18.45%, #69ECEC 47.96%, rgba(0, 122, 100, 0.6) 79.79%, rgba(9, 19, 23, 0) 95.74%); 
    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
  }

  // .why-dont__body

  &__body {
    max-width: rem(970);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .why-dont__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 50);
    }

    span {
      @media (min-width:$mobileSmall){
        display: block;          
      }
    }
  }

  // .why-dont__text

  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 56, 50);
    }
    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 30);
      }
    }
  }

  // .why-dont__wrap-label

  &__wrap-label {
    @include adaptiveValue("padding", 8, 4);
    border-image-source: url('../img/why-dont/border.svg');
    border-image-slice: 0 fill;
    position: relative;

    &::before,&::after{
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include adaptiveValue("width", 30, 16);
      @include adaptiveValue("height", 30, 16);
      background: url('../img/why-dont/right.svg') center / cover no-repeat;
    }

    &::after{
      right: -38px;

      @media (max-width:$mobile){
        right: -28px;
      }
      @media (max-width:$mobileSmall){
        right: -23px; 
      }
    }
    &::before{
      left: -8px;   
      transform: translateY(-50%) rotate(180deg);  
      transform-origin: left;
    }
  }

  // .why-dont__label

  &__label {
    font-family: 'Furore';
    @include adaptiveValue("font-size", 18, 10);
    text-transform: uppercase;
    line-height: 167%;
    background: linear-gradient(90.57deg, rgba(0, 255, 255, 0.18) -5%, rgba(0, 0, 0, 0.02) 48.83%, rgba(0, 255, 255, 0.2) 100.29%);
    backdrop-filter: blur(25px);
    border-radius: 8px;
    @include adaptiveValue("width", 458, 241);
    @include adaptiveValue("height", 80, 42);
    clip-path: polygon(0 32%, 0 14%, 3% 0, 97% 1%, 100% 15%, 100% 54%, 100% 88%, 97% 100%, 72% 100%, 3% 100%, 0 85%, 0 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

//===============================================================================================

.results {
  @include adaptiveValue("padding-bottom", 89, 66);
  background: url('../img/results/bg.png') center / cover no-repeat;
  // .results__container

  &__container {
    position: relative;

    &::after{
      content:'';
      position: absolute;
      top: 0;
      right: -170px;
      @include adaptiveValue("width", 709, 468);
      @include adaptiveValue("height", 709, 468);
      background: url('../img/results/bg-robot.png') center / cover no-repeat;
    }
  }

  // .results__top

  &__top {
    position: relative;
    z-index: 2;
  }

  // .results__table

  &__table {
    position: relative;
    z-index: 2;
  }

  // .results__btn-wrap

  &__btn-wrap {
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 58, 40);
    }

    @media (max-width: em(1199.98)){
      display: none;
    }
  }

  // .results__btn

  &__btn {
    position: relative;
    z-index: 2;
    width: rem(237);
    height: rem(56);

    span:nth-child(2) {
      &::after{
        bottom: -5px;
        right: 7px;
        transform: rotate(43deg);
      }
      &::before{
        top: -4px;
        left: 6.5px;
        transform: rotate(45deg);
      }
    }
  }

  &__chart {
    background: rgba(150, 253, 255, 0.04);
    backdrop-filter: blur(25px);  
    overflow: auto;
    max-width: rem(870);
    margin: 0 auto;
  }

  &__chart-wrap {
    overflow: hidden;
    position: relative;

    @media (max-width:$tablet){
      min-width: rem(870);
    }
  }

  &__chart-label {
    position: absolute;
    top: -78px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: linear-gradient(180deg, #2DFFD9 -46.79%, rgba(16, 28, 32, 1) 100%);
    font-family: 'Furore';
    font-size: rem(20);
    line-height: 1.15;
    text-transform: capitalize;
    width: rem(216);
    height: rem(156);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: rem(39);
    z-index: 1000;
  }
}

.top-results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: rem(15);

  @media (max-width:$mobile){
    flex-direction: column-reverse; 
    margin-bottom: rem(30);
  }
  // .top-results__content

  &__content {
    @media (min-width:$mobile){
      flex: 0 1 rem(600);  
    }
  }

  // .top-results__title

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
    @media (max-width:$mobileSmall){
      max-width: rem(150);  
    }
  }

  // .top-results__text

  &__text {
  }

  // .top-results__wrap-img

  &__wrap-img {
    @media (min-width:$mobile){
      flex: 0 0 rem(358);   
    }
    @media (max-width:$mobile){
      align-self: flex-end; 
    }
    @media (max-width:$mobileSmall){
      transform: translate(20%, 27%) rotate(10deg); 
    }
  }

  // .top-results__img

  &__img {
    @include adaptiveValue("width", 358, 300);
    @include adaptiveValue("height", 296, 252);
    animation:robotAnim 3s infinite ease-in-out;

    img {
      max-width: 100%;
    }
  }

  @keyframes robotAnim {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(-20px, 8px) rotate(-5deg);
    }
    50% {
      transform: translate(10px, 10px);
    }
  }
}

/*
.table-results {
  background: rgba(150, 253, 255, 0.04);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  border: 0.5px solid rgba(45, 255, 217, 1);
  max-height: 318px;
  overflow: auto;
  display: grid;

  @media (max-width:em(1199.98)){
    grid-template-columns: repeat(2, 1180px);
  }

  @media (max-width:$tablet){
    max-height: 350px;
  }

  &:not(:last-child) {
    margin-bottom: rem(47);
  }
  // .table-results__table

  &__table {
    display: grid;
    grid-template-columns: 64px 130px 156px 166px 170px 250px 240px;
    overflow: hidden;

    @media (max-width: em(1199.98)){
      //overflow: auto;
    }

    &:not(:last-child) {
      border-bottom: 0.5px solid rgba(45, 255, 217, 0.07);
    }

    &:first-child {
      .table-results__item {
        padding: rem(14) 0 0 0;
      }
      .table-results__item_first {
        border-radius: 20px 0 0 0;
      }
    }
    &:last-child {
      .table-results__item_first {
        border-radius: 0 0 0 20px;
      }
    }
  }

  // .table-results__item

  &__item {
    border-left: 0.1px solid rgba(45, 255, 217, .1);


    // .table-results__item_first

    &_first {
      background: linear-gradient(180deg, rgba(0, 178, 178, 0.33) 0%, rgba(0, 178, 178, 0.43) 51.97%, rgba(0, 178, 178, 0.33) 100%);
      backdrop-filter: blur(25px);
      .table-results__content-item {
        padding: 0 rem(11);
      }
    }

    // .table-results__item_green

    &_green {
      .table-results__content {
        background: linear-gradient(180deg, rgba(85, 254, 152, 0.2016) 0%, rgba(85, 254, 152, 0.56) 53.01%, rgba(85, 254, 152, 0.2016) 100%);
        mix-blend-mode: normal;
      }
    }

    // .table-results__item_big

    &_big {
    }
  }

  // .table-results__label

  &__label {
    font-size: rem(12);
    line-height: 1.16;
    margin-bottom: rem(14);
    text-align: center;
  }

  // .table-results__content

  &__content {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: rem(5);
    padding: rem(14) 0;
  }

  // .table-results__content-yaer

  &__content-yaer {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: rem(16);
    line-height: 1.3;
    transform: translateY(-50%) rotate(-90deg);
  }

  // .table-results__content-item

  &__content-item {
    font-size: rem(12);
    line-height: 1.3;
    padding: 0 rem(20);
    min-height: rem(16);

    &:not(.table-results__item_first .table-results__content-item) {
      backdrop-filter: blur(25px);
      background: rgba(14, 36, 41, 0.7)
    }

    // .table-results__content-item_gradient

    &_gradient {
      background: linear-gradient(90deg, rgba(0, 154, 154, 0.5625) -2.71%, rgba(169, 255, 255, 0.4575) 56.41%, rgba(0, 154, 154, 0.75) 100%) !important;
    }

    // .table-results__content-item_minus

    &_minus {
      background: linear-gradient(90deg, rgba(255, 112, 103, 0.75) -2.71%, rgba(255, 120, 112, 0.75) 62.65%, rgba(227, 83, 74, 0.75) 110.84%) !important;
    }

  }
}
*/
//===============================================================================================

.plans {
  @include adaptiveValue("padding-top", 121, 88);
  @include adaptiveValue("padding-bottom", 109, 135);
  // .plans__container

  &__container {
  }

  // .plans__title

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 25); 
    }
  }

  // .plans__text

  &__text {
    p {
      span {
        background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #03776F 98.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-transform: uppercase;
      } 
    }
  }

  &__slider {
    max-height: 600px;
    
    @media (max-width:$tablet){
      max-height: 700px;
    }
    @media (max-width:$mobile){
      max-height: none; 
    }

    .swiper-pagination {
      display: flex;
      align-items: center;
      column-gap: rem(25);
      row-gap: rem(13);
      flex-wrap: wrap;
    }
    .swiper-pagination-bullet {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(36);
      height: rem(36);
      border-radius: 50%;
      color: rgba(0, 178, 146, 0.29);
      font-size: rem(16);
      transition: all 0.3s ease 0s;
    }
    .swiper-pagination-bullet-active {
      color: rgba(0, 178, 146, 1);
      //background-image: radial-gradient(50% 50% at 50% 50%, #002525 0%, rgba(0, 51, 52, 0) 100%);
      background: url('../img/plans/bg.png') center / cover no-repeat;
    }
  }
  &__wrapper {
    margin-bottom: rem(33);
  }
}

//========================================================================================================================================================

.roadmap {
  @include adaptiveValue("padding-top", 117, 36);
  @include adaptiveValue("padding-bottom", 29, 71);
  background: url('../img/roadmap/bg.png') center / cover no-repeat;      
  position: relative;

  @media (max-width:$mobile){
    background: url('../img/roadmap/bg-mobi.png') center / cover no-repeat;   
  }

  &__border-container {
    &::before{
      content:'';
      position: absolute;
      @include adaptiveValue("top", -117, -36, 0, 1180, 767);
      left: 0;
      width: 100%;
      height: 151px;
      background: url('../img/roadmap/border.svg') top / contain no-repeat;
  
      @media (max-width:$mobile){
        @include adaptiveValue("top", -120, -70, 0, 767, 320);
        @include adaptiveValue("height", 170, 50);
        background: url('../img/roadmap/border-mobi.svg') top / contain no-repeat;
      }
    }
  }

  @media (any-hover: hover){
    &:hover{
      .roadmap__image-ibg {
        transform: translateX(-10px);
        &::after{
          opacity: 1;
        }
      }
    }
  }

  // .roadmap__container

  &__container {
  }

  // .roadmap__title

  &__title {
    @media (min-width:$mobile){
      text-align: center;
    }
  }

  // .roadmap__img

  &__image-ibg {
    height: 388px;
    min-width: 1160px;
    transition: all 0.7s ease 0s;
    backdrop-filter: blur(-100px);

    @media (max-width:$mobile){
      height: 500px; 
    }

    &::after{
      content:'';
      position: absolute;
      top: -100px;
      left: -200px;
      width: calc(100% + 400px);
      height: calc(100% + 200px);
      opacity: 0;
      transition: all 0.7s ease 0s;
      background: radial-gradient(42.48% 42.48% at 50% 45.47%, rgba(10, 255, 211, 0.38) 0%, rgba(84, 255, 224, 0) 100%);
    }

    @media (any-hover: hover){
      &:hover{
        transform: translateX(-10px);

        &::after{
          opacity: 1;
        }
      }
    }

    img {
      z-index: 2;
      max-width: 100%;
    
      @media (max-width:$mobile){
        left: -20%; 
      }
      @media (max-width:$mobileSmall){
        left: -33%; 
      }
    }
  }

  // .roadmap__content

  &__content {
    position: relative;
  }

  // .roadmap__descr

  &__descr {
  }

  // .rodmap__label

  &__label {
    font-size: 20px;
    line-height: 100%;
    text-transform: lowercase;

    background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #00FCEA 98.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  // .roadmap__num

  &__num {
    font-family: 'Furore';
    font-size: 28px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  // .roadmap__dates

  &__dates {
  }

  // .roadmap__buttons
  
  &__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    padding: 0 13px 0 22px;
    justify-content: space-between;
  }
}

.descr-roadmap {

  &._show {
    .swiper-slide-visible {
      opacity: 1;
      visibility: visible;
    }
    .roadmap-pagination__btn {
      opacity: 0;
      visibility: hidden;
    }
  }

  // .descr-rodmap__slider

  &__slider {
    position: absolute;
    left: 0;
    top: -346px;
    width: 100%;
    height: 289px;
    z-index: 5;
  }

  
  // .descr-rodmap__wrapper

  &__wrapper {
    position: relative;
  }

  // .descr-rodmap__slide

  &__slide {
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease 0s;
    @media (max-width:$mobile){
      transition: all 0.2s ease 0s; 
    }
  }

  &__slide-border {
    border-image-source: url('../img/roadmap/border-slide.svg');
    border-image-slice: 0 fill;
    max-width: rem(261);
    position: relative;
  }

  // .descr-rodmap__slide-wrap

  &__slide-wrap {
    transform: scale(0.95);
    max-width: 261px;
    //overflow: auto;
    height: 286px;
    left: 0;
  }

  // .doscr-roadmap__slide-body

  &__slide-body {
    clip-path: polygon(5% 0, 100% 0, 100% 93%, 94% 100%, 0 100%, 0 7%);
    backdrop-filter: blur(30px);
    border-radius: 8px;
    height: 286px;
    padding: rem(15) rem(12) rem(40) rem(18);
    //position: relative;
    overflow: auto;
  }

  // .doscr-roadmap__exit

  &__exit {
    color: rgba(255, 255, 255, 0.26);
    font-size: rem(17);
    position: absolute;
    z-index: 3;
    top: rem(14);
    right: rem(12);
    cursor: pointer;
  }

  // .descr-rodmap__num

  &__num {
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }

  // .descr-rodmap__label

  &__label {
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  // .descr-rodmap__text

  &__text {
    font-size: rem(18);
  }
}


.roadmap-pagination {
  padding-top: rem(44);
  padding-bottom: rem(15);
  display: flex;
  position: relative;
  column-gap: rem(29);

  &::before{
    content:'';
    position: absolute;
    top: rem(0);
    left: rem(80);
    width: calc(100% - 160px);
    height: 3px;
    background: #00B292;
    overflow: auto;

    @media (min-width:$mobile) and (max-width:$pc) {
      min-width: 1120px;
    }

    @media (max-width:$pc){
      top: 25px; 
    }

    @media (max-width:$mobile){
      left: 10px;
      top: 0;
      width: 3px;
      height: calc(100% - 65px);
    }
  }

  @media (max-width:$pc) and (min-width:$mobile){
    margin-top: -25px;
    overflow: auto; 
  }

  @media (max-width:$mobile){
    flex-direction: column;
    row-gap: rem(32); 
    align-items: flex-start;
    overflow: hidden;
    padding: 0;
    margin-top: -20px;
  }

  .swiper-pagination-bullet {
    position: relative;

    &::before{
      content:'';
      position: absolute;
      top: -54px;
      left: 70px;
      width: 28px;
      height: 20px;
      background: linear-gradient(121.45deg, #2DFFD9 -9.41%, #03776F 99.39%);
      border: 0.5px solid rgba(84, 255, 224, 0.53);
      box-shadow: 0px 1px 5px rgba(0, 43, 35, 0.5);
      transform: rotate(65deg) skew(40deg);

      @media (max-width:$pc){
        top: -25px; 
      }

      @media (max-width:$mobile){
        left: 2px;
        top: 10px; 
        width: 20px;
        height: 15px;
      }
    }

    @media (min-width:$mobile){
      flex: 0 0 rem(170);   
    }

    @media (max-width:$mobile){
      min-width: 100%; 
      padding-left: rem(50);
    }
  }

  // .roadmap-pagination__body

  &__body {
    display: flex;
    min-height: 100%;
    align-items: center;
    column-gap: rem(15);
    padding: 10px 0;


    @media (min-width:$mobile){
      flex-direction: column;
      text-align: center;
    }
  }

  // .roadmap-pagination__content

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  
    @media (min-width:$mobile){
      &:not(:last-child) {
        margin-bottom: rem(20);
      }      
    }

    @media (max-width:$mobile){
      align-items: flex-start; 
    }
  }

  // .roadmap-pagination__num

  &__num {
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  // .roadmap-pagination__label

  &__label {
  }

  // .roadmap-pagination__btn 
  
  &__btn {
    opacity: 1;
    visibility: visible;

    @media (max-width:$mobile){
      transform: rotate(-90deg); 
    }
  }
}

//========================================================================================================================================================

.entry {
  background: url('../img/entry/bg.png') center / cover no-repeat;
  position: relative;

  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../img/entry/bg-full.png') center / cover no-repeat;
    z-index: 2;
  }

  // .entry__container

  &__container {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 56, 15);

    @media (max-width:$tablet){
      flex-direction: column;
    }
  }

  // .entry__img

  &__img {
    position: relative;
    @include adaptiveValue("padding-top", 65, 23);

    @media (min-width:$mobileSmall){
      flex: 0 0 rem(539);        
    }

    &::after{
      content:'';
      position: absolute;
      top: 0;
      left: -160px;
      width: 840px;
      height: 600px;
      backdrop-filter: 100px;
      z-index: -1;
      background: url('../img/entry/bg-jar.png') center / cover no-repeat;
      @media (max-width:$tablet){
       // top: 20%;
        left: -50%;
        width: 200%;
        height: 100%;
      }
    }

    img {
      position: relative;
      z-index: 2;
      max-width: 100%;
    }
  }

  // .entry__content

  &__content {
    flex: 1 1 auto;
    padding-bottom: 50px;
  }

  // .entry__title

  &__title {
    position: relative;
    z-index: 2;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 47, 0);
    }

    @media (max-width:$tablet){
      text-align: center;
    }
  }

  // .entry__btns

  &__btns {
  }
}

.btns-entry {
  position: relative;
  z-index: 2;
  // .btns-entry__item

  &__item {
    display: flex;
    align-items: center;
    gap: rem(25);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 29, 25);
    }
  }

  // .btns-entry__btn

   &__btn {
    min-width: rem(318);
    min-height: rem(52);
    @include adaptiveValue("font-size", 20, 16);

    @media (max-width:$mobileSmall){
      min-width: rem(214);
      min-height: rem(38); 
    }

    span:nth-child(2) {
      &::after{
        bottom: rem(-5);
        right: rem(10);
        transform: rotate(52deg);

        @media (max-width:$mobileSmall){
          bottom: rem(-7);
          right: rem(6);
          transform: rotate(48deg);
        }
      }
      &::before{
        top: rem(-5);
        left: rem(10.5);
        transform: rotate(54deg);

        @media (max-width:$mobileSmall){
          top: rem(-7);
          left: rem(5); 
        }
      }
    }
  }

  // .btns-entry__icon

  &__icon {
    flex: 0 0 rem(44);

    img {
      max-width: 100%;
    }

    @media (max-width:$mobileSmall){
      flex: 0 0 rem(30); 
    }
  }
}

