.inv-lines {
  position: relative;

  &::before,&::after{
    content:'';
    position: absolute;
    z-index: 1;
    border: solid transparent;
    @include adaptiveValue("border-width", 95, 47, 0, 1920, 992);
    border-bottom: solid #122121;  
    @include adaptiveValue("border-bottom-width", 55, 30, 0, 1920, 992);

    @media (max-width:$tablet){
      display: none;
    }
  }

  &::before{
    left: 0;
    border-left: solid #122121; 
    @include adaptiveValue("border-left-width", 155, 80, 0, 1920, 992);
  }

  &::after{
    right: 0;
    border-right: solid #122121; 
    @include adaptiveValue("border-right-width", 155, 80, 0, 1920, 992);
  }

  // .inv-lines__line

  &__line {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 150px;
    background: url('../img/investors/line.svg') bottom / contain no-repeat;
    @media (min-width:em(1860)){
      display: none;
    }
    @media (max-width:$tablet){
      background: url('../img/investors/line.svg') bottom / cover no-repeat;
    }
    
  }

  // .inv-lines_bottom

  &_bottom {
    .inv-lines__line {
      bottom: 0;
    }

    &::before,&::after{
      bottom: 0;  
    }
  }
  // .inv-lines_top

  &_top {
    .inv-lines__line {
      top: 0;
      transform: rotate(180deg);
    }

    &::before,&::after{
      top: -2px; 
      transform: rotate(180deg);
    }

    &::before{
      left: auto;
      right: 0;
    }

    &::after{
      right: auto;
      left: 0;
    }
  }
}

//========================================================================================================================================================


.inv-mainscreen {
  background: url('../img/investors/main-bg.jpg') center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;

  // .inv-mainscreen__container

  &__container {
    flex: 1 1 auto;
  }

  // .inv-mainscreen__content

  &__content {
    max-width: rem(790);
    padding-bottom: rem(57);
    position: relative;
    z-index: 2;
  }

  // .inv-mainscreen__title

  &__title {
    span {
      @media (min-width:$mobile){
        text-fill-color: transparent;
		    -webkit-text-fill-color: inherit;
        background: none;   
      }
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 24);
    }
  }

  // .inv-mainscreen__text

  &__text {
    max-width: rem(646);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 37);
    }
  }

  // .inv-mainscreen__btns

  &__btns {
  }

  // .inv-mainscreen__btn

  &__btn {
  }

  // .inv-mainscreen__image-ibg

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    @include adaptiveValue("width", 1254, 580);
    @include adaptiveValue("height", 754, 349);

    @media (max-width:$pc){
      right: -30%; 
    }
    @media (max-width:$mobileSmall){
      right: -60%; 
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

//========================================================================================================================================================
.investors-info {
  background: #122121;
  margin-bottom: 0;

  .info-block__container {
    &::before,&::after{
      content:'';
      display: none;
    }
  }

  .info-block__wrap-btn {
    &::before{
      content:'';
      position: absolute;
      left: -46px;
      top: -10px;
      width: rem(92);
      height: rem(92);
      background: linear-gradient(201.66deg, #06767E 13.11%, rgba(0, 53, 56, 0) 85.79%);
      filter: blur(25px);
    } 
  }
}

//========================================================================================================================================================

.inv-categoties {
  position: relative;
  @include adaptiveValue("padding-top", 100, 64);
  @include adaptiveValue("padding-bottom", 140, 83);

  // .inv-categoties__image-ibg

  &__image-ibg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 140px);
  }

  // .inv-categoties__container

  &__container {
    position: relative;
    z-index: 2;
  }

  // .inv-categoties__body

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("gap", 65, 45);
    flex-wrap: wrap;
  }

  // .inv-categoties__category

  &__category {
    @media (min-width:$mobileSmall){
      flex: 0 0 rem(470);        
    }
  }
}
.category-inv {
  background: url('../img/investors/border.png') top / 100% 100% no-repeat;
  @include adaptiveValue("padding-top", 14, 11);
  @include adaptiveValue("padding-bottom", 15, 12);
  @include adaptiveValue("padding-left", 13, 8);
  @include adaptiveValue("padding-right", 13, 8);


  // .category-inv__body

  &__body {
    padding-top: rem(22);
    @include adaptiveValue("padding-bottom", 30, 21);
    @include adaptiveValue("padding-right", 30, 22);
    @include adaptiveValue("padding-left", 30, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(90.56deg, rgba(0, 91, 84, 0.95) -3.66%, rgba(0, 91, 84, 0.78) -3.65%, rgba(0, 77, 87, 0.02) 49.48%, rgba(0, 113, 106, 0.95) 100.28%);
    backdrop-filter: blur(30px);
    border-radius: 8px;
    clip-path: polygon(4.5% 0, 100% 0, 100% 93%, 95% 100%, 0 100%, 0 7%);
  }

  // .category-inv__title

  &__title {
    font-family: 'Furore';
    @include adaptiveValue("font-size", 30, 20);
    line-height: 1.16;
    text-transform: uppercase;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 62, 27);
    }

    @media (max-width:$mobile){
      background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #03776F 98.95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent; 
    }
  }

  // .category-inv__img

  &__img {
    position: relative;
    @include adaptiveValue("width", 173, 125);
    @include adaptiveValue("height", 173, 125);

    &:not(:last-child) {
      margin-bottom: rem(8);
    }

    &::after{
      content:'';
      position: absolute;
      @include adaptiveValue("top", -100, -80);
      @include adaptiveValue("left", -90, -72);
      @include adaptiveValue("width", 373, 270);
      @include adaptiveValue("height", 373, 270);
    }

    // .category-inv__img_blue

    &_blue {
      &::after{
        background: radial-gradient(50% 50% at 50% 50%, #6CFFDC 0%, rgba(0, 113, 148, 0) 100%);
      }
    }
    &_green {
      background: radial-gradient(50% 50% at 50% 50%, rgba(129, 255, 156, 0.86) 0%, rgba(1, 159, 131, 0) 100%);
    }

    img {
      max-width: 100%;
      position: relative;
      z-index: 2;
    }
  }

  // .category-inv__text

  &__text {
    flex: 1 1 auto;
    position: relative;
    z-index: 3;

    &:not(:last-child) {
      padding-bottom: rem(17);
      @include adaptiveValue("margin-bottom", 14, 24);

      @media (max-width:$mobile){
        &::after{
          content:'';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: linear-gradient(92.55deg, rgba(0, 0, 0, 0) 0%, rgba(0, 122, 100, 0.6) 18.45%, #69ECEC 47.96%, rgba(0, 122, 100, 0.6) 79.79%, rgba(9, 19, 23, 0) 95.74%);
        }   
      }
    }
  }

  // .category-inv__label

  &__label {
    text-transform: lowercase;
    &:not(:last-child) {
      margin-bottom: rem(18);
    }
  }

  .info-block__wrap-btn {
    flex-basis: auto;

    &::before{
      display: none;
    }
  }
}


