// Заголовки, общие БЄМ блоки и проче...

/* Стилизация скролла */
* {
  scrollbar-width: thin;
  scrollbar-color: #00AD8E rgba(217, 217, 217, 0.28);
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
  width: 5px;
	border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.28);;
	border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00AD8E;
  border-radius: 8px;
}

//================================================================================================

.mainscreen {
	@include adaptiveValue("padding-top", 141, 120);
}

.border-container {
	max-width: rem(1920);
	margin: 0 auto;
	position: relative;
}

//=====================================================================================================

.social {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: rem(18);
	position: relative;

	// .social__icon

	&__icon {
		position: relative;
		z-index: 3;

		&::before{
			background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #03776F 98.95%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			font-size: rem(25);
			transition: all .3s ease 0s;

			@media (max-width:$mobile){
				font-size: rem(32); 
			}
		}

		&::after{
			content:'';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: rem(18);
			height: rem(18);
			background: radial-gradient(50% 50% at 50% 50%, rgba(84, 255, 224, 0.72) 0%, rgba(52, 52, 52, 0) 100%);
			opacity: 0;
			transition: all .3s ease 0s;
		}

		@media (any-hover: hover){
			&:hover {
				&::after {
					opacity: 0.9;
				}
				&::before{
					animation: socialAnim .3s ease 0s;
					transform: scale(1.15);
				}
			}
		}
	}
}

@keyframes socialAnim {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-2px) scale(1.05);
	}
	100% {
		transform: translateX(0) scale(1.1);
	}
}

//=====================================================================================================

.title-main {
	font-family: 'Furore';
	@include adaptiveValue("font-size", 70, 40);
	line-height: 1.14;
	text-transform: uppercase;

	&_s75 {
		@include adaptiveValue("font-size", 75, 40);
	}

	span {
		background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #03776F 98.95%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}


.title {
	font-family: 'Furore';
	@include adaptiveValue("font-size", 50, 35);
	line-height: 1.16;
	text-transform: uppercase;
	color: #fff;

	span {
		background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #03776F 98.95%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
  // .title_s28

  &_s28 {
		@include adaptiveValue("font-size", 28, 22);
  }

	// .title_with-border

  &_with-border {
		border-image-source: url('../img/why/title.png');
		border-image-slice: 1 fill;
		@include adaptiveValue("font-size", 50, 23);

		@media (max-width:$mobileSmall){
			font-size: rem(20); 
		}
  }

	&_mobi-s23 {
		@include adaptiveValue("font-size", 50, 23);
	}
}

.text {
	line-height: 150%;
	@include adaptiveValue("font-size", 20, 16);

	span {
		background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #03776F 98.95%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}

.label {
	@include adaptiveValue("font-size", 20, 16);
	line-height: 125%;
	text-transform: uppercase;
	background: linear-gradient(92.3deg, #00B292 -10.87%, #2DFFD9 21.75%, #54FFE0 60.54%, #03776F 98.95%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
//======================================================================================================

//========================================================================================================================================================

.info-block {
  @media (max-width:$mobile){
    margin-bottom: rem(42);   
  }
  // .info-block__container

  &__container {
    display: flex;
    align-items: flex-start;
    row-gap: rem(35);
    @include adaptiveValue("column-gap", 54, 15);
    position: relative;
    @include adaptiveValue("padding-top", 67, 46);
    @include adaptiveValue("padding-bottom", 68, 62);

    @media (max-width:$mobile){
      flex-direction: column; 
    }

    &::before,&::after{
      content:'';
      position: absolute;
      background: linear-gradient(92.55deg, rgba(0, 0, 0, 0) 0%, rgba(0, 122, 100, 0.6) 18.45%, #69ECEC 47.96%, rgba(0, 122, 100, 0.6) 79.79%, rgba(9, 19, 23, 0) 95.74%);
      left: -275px;
      height: 3px;
      width: calc(100% + 550px);
    }

    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
  }

  // .info-block__content

  &__content {
    @media (min-width:$tablet){
      flex: 1 1 auto;        
    }
  }

  // .info-block__text

  &__text {
    text-transform: uppercase;
    font-family: 'Furore';
  
    span, p {
      display: inline-block;
      &:not(:last-child) {
        margin-bottom: rem(8);

        @media (max-width:$mobile){
          margin-bottom: rem(30);
        }
      }
    }
  }

  // .info-block__wrap-btn

  &__wrap-btn {
		position: relative;

    @media (min-width:$tablet){
      flex: 0 0 rem(307); 
    }

		@media (max-width:$mobile){
			&::before{
				content:'';
				position: absolute;
				left: -46px;
				top: -10px;
				width: rem(92);
				height: rem(92);
				background: linear-gradient(201.66deg, #06767E 13.11%, rgba(0, 53, 56, 0) 85.79%);
				filter: blur(25px);
			} 
		}
  }

  // .info-block__btn

  &__btn {
    min-width: 307px;
    min-height: 56px;
    text-transform: capitalize;
    
    @media (max-width:$mobileSmall){
      min-width: 163px;
      min-height: 38px;
    }

    span:nth-child(2) {
      &::before{
        top: -7px;
        left: 9px;
        transform: rotate(50deg);

        @media (max-width:$mobileSmall){
          left: -1px;
          transform: rotate(49deg);
        }
      }
      &::after{
        bottom: -7px;
        right: 9px;
        transform: rotate(50deg);

        @media (max-width:$mobileSmall){
          right: 0; 
          transform: rotate(44deg);
        }
      }
      &::before,&::after{
        height: 33px;
      }
    }
  }
}

//========================================================================================================================================================
.swiper-buttons {
	display: flex;
	align-items: center;
}

.swiper-button-prev {
	transform: rotate(180deg);
}

.swiper-button-next,
.swiper-button-prev {
	color: #54FFE0;
}

.swiper-button-disabled {
	color: rgba(195, 195, 195, 0.39);
}