//====================================================================================================

.footer {
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  // .footer__container

  &__container {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-top", 25, 21);
    @include adaptiveValue("padding-bottom", 45, 37);
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background: linear-gradient(92.55deg, rgba(0, 0, 0, 0) 0%, rgba(0, 122, 100, 0.6) 18.45%, #69ECEC 47.96%, rgba(0, 122, 100, 0.6) 79.79%, rgba(9, 19, 23, 0) 95.74%);
    }
  }

  // .footer__text

  &__text {
    @include adaptiveValue("font-size", 20, 16);
    line-height: 1.2;
    color: rgba(45, 255, 217, 0.26);

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .footer__social

  &__social {
  }
}


//====================================================================================================
